.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrapper::after {
  content: '';
  display: block;
  background-color: var(--subheader-color);
  width: 0.5px;
  height: 175px;
  margin-top: 20px;
  position: absolute;
  left: -150px;
  top: -25px;
}

.title {
  color: var(--text-color);
  font-family: Philosopher;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.text {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 300;
  line-height: normal;
}
