.section {
  margin: 0 auto;

  height: 100%;
  background-image: url(/img/hero/background_2x_1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 20px;
}
