.authSection {
  padding-top: 180px;
  padding-bottom: 20px;
  background-image: linear-gradient(
      rgba(234, 235, 207, 0.8),
      rgba(93, 89, 83, 0.3)
    ),
    url(/img/about/tea-set\ 1@2x.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
