.header {
  background-color: #33333331;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
main {
  padding: 20px;
}

footer {
  background-color: #3333334f;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
