.nav {
  display: flex;
  align-items: center;

  color: white;
}

.logo {
  display: block;

  margin-left: 60px;
  margin-right: auto;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
.link {
  color: var(--text-color);
  text-decoration: none;
  transition: color var(--transition-pattern);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.link:hover,
link:focus {
  color: #7d806a;
}

.active {
  composes: link;
  color: #7d806a;
}
