.wrapper {
  display: flex;

  gap: 200px;
  justify-content: space-between;
  padding-top: 30px;
}

.copyright {
  color: var(--text-color);
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  margin-top: 50px;

  position: relative;
}

.copyright::before {
  position: absolute;
  content: '';
  display: block;
  background-color: var(--subheader-color);
  width: 1058px;
  height: 0.5px;
  top: -15px;
}
