.container {
  display: flex;
  gap: 30px;

  align-items: center;
}
.list {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.link {
  padding: 20px 0px;

  text-decoration: none;
  transition: color var(--transition-pattern);

  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item {
  padding: 20px 0px;
}

.link:hover,
link:focus {
  color: #7d806a;
}

.active {
  composes: link;
  color: #7d806a;
}

.btn {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: var(--subheader-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color var(--transition-pattern);
  font-weight: 300;
}

.btn:hover,
.btn:focus {
  background-color: rgb(96, 99, 68);
}
